.fixed-top {
	padding-top: 0px;
	padding-bottom: 0px;
}

#nav {
	margin-left: 20px;
}

.navbar {
	background-color: #408fe4;
}

#d-down {
	background-color: rgb(145, 255, 0);
	border-color: rgb(145, 255, 0);
	margin-right: 100px;
}

#profileImg {
	padding-right: 10px;
}

img {
	vertical-align: middle;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
